.user_input {
  width: 30%;
  margin: 0 auto;
}
.container {
  margin-top: 100px;
  text-align: center;
}
.FormField__Link {
  margin-left: 20px;
}
h1 {
  font-family: "Balsamiq Sans", serif;
}

.btn-landing {
  position: relative;
  left: 1300px;
}

.btn2 {
  margin-top: 100px;
  text-align: center;
}
