.user_input {
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
}
.container {
  margin-top: 100px;
  width: 20%;
  text-align: center;
}
.containerSchedule {
  margin-top: 100px;
  width: 20%;
  text-align: center;
}

.containerProfile {
  margin: 50px 300px;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
}

.formLabel {
  color: gray;
}
.FormField__Link {
  margin-left: 20px;
}
h1 {
  font-family: "Balsamiq Sans", serif;
}

.btn-landing {
  position: relative;
  bottom: 110px;
  left: 1310px;
}

.btn2 {
  margin-top: 100px;
  text-align: center;
}

.studlist {
  display: inline-block;
}

.inline-form {
  width: 100%;
  display: block;
}

.inline-form .text-container {
  display: inline-block !important;
  width: 250px !important;
  padding-right: 5px;
}

.inline-form .input-container {
  display: inline-block !important;
  width: 50px !important;
  padding-right: 5px;
}

.inline-form .button-container {
  display: inline-block !important;
  width: auto !important;
  height: 20px;
}

.inline-form .button-container button {
  width: 100%;
}
